extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="https://api.instagram.com/oauth/authorize/?client_id=#{clientId}&redirect_uri=#{redirect}&response_type=code") Login instagram
