extends layout

block content
  div(id="map")
  div(class="modal")
    div(class="modal-bg")
      div(class="modal-content-custom")
      
  script(type='text/javascript').
    var userId = '#{userId}';
    var userName = '#{userName}';
    loadMap(userId, userName);